sitemap.xml
sitemap.xml.gz

# временные файлы
*.log
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# PHPStorm
.idea/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Node.js
node_modules/
npm-debug.log


