# общие правила WordPress
content/uploads/
content/upgrade/
content/cache/
content/backups/
content/advanced-cache.php
content/backup-db/
content/blogs.dir/
content/wp-cache-config.php
content/plugins/hello.php
sitemap.xml
sitemap.xml.gz

# временные файлы
*.log
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# плагины
readme.txt
README.txt
screenshot-*.*
screenshot.*
README.md
readme.md

# но файл в корне оставляем
!/README.md

# языковые файлы плагинов и стандартных тем
content/plugins/**/*.mo
content/plugins/**/*.pot
content/plugins/**/*.po
languages/plugins/
languages/themes/


# PHPStorm
.idea/

# Sublime Text
*.sublime-project
*.sublime-workspace

node_modules/


