# общие правила
content/uploads/
content/upgrade/
content/cache/
content/backups/

# плагины
readme.txt
README.txt
screenshot-*.png
README.md
readme.md

#языковые файлы плагинов и стандартных тем
content/plugins/**/*.mo
content/plugins/**/*.pot
content/plugins/**/*.po
languages/plugins/
languages/themes/

